# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\deman\CloudStation\School\Year 3\Intelligent Systems\assignment 1\SB-MASE\.idea/dataSources/
/dataSources.local.xml
