# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\deman\CloudStation\School\Year 3\Project 3.1\IntelligentSystems\assignment 3\.idea/dataSources/
/dataSources.local.xml
